body {
  background-color: #0f2929;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body header {
  color: #1595c7;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main button {
  box-shadow: 5px 5px #1595c7;
  margin: 1.5em;
  font-size: 1.2em;
  padding: 1em;
  background-color: #0f2929;
  color: #1595c7;
}
body .main .photo img {
  max-width: 700px;
  display: none;
}
