body {
    background-color: #0f2929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    header {
        color: #1595c7;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            box-shadow: 5px 5px #1595c7;
            margin: 1.5em;
            font-size: 1.2em;
            padding: 1em;
            background-color: #0f2929;
            color: #1595c7;
        }
        .photo {
            img {
                max-width: 700px;
                display: none;
            }
        }
    }
}